.about-list {
  display: flex;
  grid-gap: clamp(20px, 3.352vw, 48px);

  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(4px, 1.0879vw, 12px);
    max-width: 327px;

    &:first-child {
      max-width: 350px;

      @include small-tablet {
        max-width: 100%;
      }
    }

    @include small-tablet {
      max-width: 100%;
      text-align: center;
    }

    @include mobile {
      p {
        text-align: start;
      }
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(18px, 2.9918vw, 33px);
    color: rgba(var(--cl-a), 1);

    @include mobile {
      text-align: start;
    }
  }

  @include small-tablet {
    flex-direction: column;
  }

  &--mode {
    flex-direction: column;
    grid-gap: clamp(31px, 3.4916vw, 50px);

    .about-list {
      &__item {
        max-width: 100%;
        grid-gap: clamp(17px, 3.1425vw, 45px);

        @include small-tablet {
            margin-top: 0 !important;
        }

        &:nth-child(even) {
          .about-box {
            flex-direction: row-reverse;

            &__image {
              &::before {
                right: 0;
                transform: translate(-9%, -23%);

                @include mobile{
                    transform: translate(-49%, 21%);
                }
              }
            }

            @include small-tablet{
                flex-direction: column;
            }
          }
        }

        &:nth-child(2) {
          margin-top: clamp(40px, 12.081vw, 173px);
        }

        &:nth-child(4) {
          margin-top: clamp(30px, 6.5642vw, 94px);
          .about-box__image::before {
            transform: translate(-5%, -25%);

            @include tablet{
                transform: translate(20%, -21%);
            }

            @include mobile{
                transform: translate(-49%, 29%);
            }
          }
         
        }

        &:nth-child(5) {
          margin-top: clamp(20px, 3.4916vw, 50px);

          .about-box__image::before {
            transform: translate(-37%, -26%);

            @include mobile{
                transform: translate(-49%, 21%);
            }
          }
        }

        @include mobile {
          .subtitle {
            text-align: start;
           

            &--mode{
                font-size: 18px;
                font-weight: 700;
            }
            
          }
        }
      }
    }
  }
}
